################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/Angelia/.vs/
/Angelia/.vs/Angelia/v15
*.vspscc
/Angelia/Publish
/Angelia/Properties/PublishProfiles
/Angelia/Angelia.csproj.user

/out
/*/out
/Dockerfile

.idea/
.DS_Store